azafra.txt.bz2
cabale.txt.bz2
COPYING.glp
COPYING.linuxfr
deprimente.txt.bz2
ffr.tar.bz2
fortune-cs-1.2.4.tar.bz2
fortune-fr.1138.tar.bz2
fortune-it-1.51.tar.bz2
fortune-kotowaza.bz2
fortune-kotowaza.README.bz2
fortune-mod-1.99.1.tar.bz2
fortune-msg-id.tar.bz2
fortune-proverbs-gaeilge.bz2
fortunes-hu-0.1.tar.bz2
fortunes.txt.bz2
fortune-walon.txt.bz2
fortune-wa-spots.txt.bz2
glp.txt.bz2
MS-FORTUNES.bz2
